@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .h2 {
    @apply text-5xl font-bold;
  }
  .h3 {
    @apply text-4xl font-bold;
  }
  .h4 {
    @apply text-3xl font-bold;
  }
  .h5 {
    @apply text-2xl font-bold;
  }
  .p-base{
    @apply text-xl;
  }
  .p-medium{
    @apply text-2xl;
  }
}

@layer components {
  .button {
    @apply inline-flex px-12 py-3 rounded-full bg-black text-white hover:scale-95 transition-transform duration-200;
  }
}
